@{
    Layout = null;
}
  
<!DOCTYPE html>
  
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music.by</title>
</head>
<body>
    <div>
        <h3>Main</h3>
        
        <a href="/Home/Buy"> Добавить </a> <br>
        <a href="/Musicians"> Musicians </a> <br>
        <a href="/Albums"> Albums </a>
    </div>
</body>
</html>