@{
    ViewBag.Title = "Add";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <div>
        <h3>Add Musician</h3>
        <form method="post" action="Add">
            
            <table>
                <tr><td><p>Name</p></td>
                    <td><input type="text" name="Name" /> </td></tr>
                <tr><td>
                    <p>Surnname :</p></td><td>
                    <input type="text" name="Surname"/> </td></tr>
                 <tr><td><p>Secondname</p></td><td>
                   <input type="text" name="Secondname" /> </td></tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>